div #item-container {
	text-align: left;
	width: 25%;
}

#due-date {
	text-align: right;
	font-style: italic;
}

#item {
	margin-top: 5%;
	transition: opacity 0.35s linear;
	border-color: #dee2e6;
}

.completed-item {
	text-decoration: line-through;
	font-style: italic;
	opacity: 80%;
}
